<h1><%= time_based_greeting %>, <%= current_user.name %>!</h1>
<h2>Your Tasks</h2>

<%= link_to "New Task", new_task_path %>

<div id="tasks">
  <% @tasks.each do |task| %>
    <div class="task <%= 'completed' if task.completed %>">
      <%= check_box_tag :completed, task.id, task.completed, 
            data: { reflex: "click->Task#toggle", id: task.id } %>
      <%= link_to task.title, task %>
      <%= link_to "Edit", edit_task_path(task) %>
      <%= link_to "Delete", task, method: :delete, data: { confirm: "Are you sure?" } %>
    </div>
  <% end %>
</div>